$text-color: #343434;
$text-hover-color: #787878;
$background-color-light: #fbf9f7;
$background-color-dark: #1d1f28;
$primary-color: #ffe69e;
$primary-color-dark: #E0CD66;
$secodnary-color: #6a7cff;
$secodnary-color-dark: #373E7C;
$accent-color-light: #46c3f0;
$accent-color-dark: #ff95fa;
$toolbar-height: 50px;