@import 'variables';

.grid {
  position: absolute;
  height: 75%;
  margin: 0px 25px;
  left: 0;
  right: 0;
  top: $toolbar-height+25px;

  &__row {
    line-height: 0px;
    display: flex;
    justify-content: center;
  }

  &__cell {
    width: 25px;
    height: 25px;
    margin: 1px;
    border: 0.25px solid rgba($primary-color, 0.25);
    border-radius: 5px;
    display: inline-block;
  }

  &__wall {
    width: 22px;
    height: 22px;
    //still dont know if i like this border or not
    border: 2.25px solid $primary-color; //rgba($secodnary-color, 0.5);
    background: $secodnary-color;
  }
}